nohup.out
.DS_Store
.vscode/
gspread.json
.ipynb_checkpoints/
__pycache__/
*.ckpt
*.pt
*.pth
*.csv
*.log
*.zip
*.gz
*.jpg
*.jpeg
*.png
*.bin
input/*.csv
/*.job.o*
*.ipynb
results/
tb_logs/
yolov5_bk/
*.npy
note/
misc/
